@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600;700&display=swap");
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Сбрасываем маркеры списков*/
ol, ul {
  list-style: none;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Устанавливаем шрифты */
body {
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  color: #fefefe;
}